div.banner {
	/*width: 100%;
	position: absolute;
	top: 0;
	left: 0;*/
	background-image: url('../img/banner.jpg');
	background-position: center center;
    color: white;
    height: 400px;
    overflow: auto;
    width: 100%
}