body, html {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

div.banner {
  background-image: url('../img/banner.jpg');
  background-position: center center;
  color: white;
  display: table;
  height: 30%;
  overflow: auto;
  width: 100%;
  border-bottom: 5px solid #000000;
}

div.navbar-inner {
  border-radius: 0px 0px 0px 0px;
}

img.logo {
  margin: 15px 0px 15px 50px;
}

div.content {
  width: 940px;
}

footer {
  background: #212121;
  color: #e5e5e5;
  padding: 15px 0px;
  /*position: absolute;
  bottom: 0px;*/
  width: 100%;
}

footer>p {
  padding: 0px 40px;
}

